<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
 
<mapper namespace="cn.doublefloat.jdmall.project.address.mapper.AddressMapper">

    <resultMap id="AddressResult" type="Address">
        <id column="address_id" property="addressId"/>
        <result column="user_id" property="userId"/>
        <result column="realname" property="realName"/>
        <result column="phonenum" property="phonenum"/>
        <result column="province" property="province"/>
        <result column="city" property="city"/>
        <result column="area" property="area"/>
        <result column="street" property="street"/>
        <result column="zip" property="zip"/>
        <result column="is_default_address" property="isDefaultAddress"/>
    </resultMap>


    <insert id="add" parameterType="Address">
        INSERT INTO jd_address (user_id, realname, phonenum, province, city, area, street, zip, is_default_address, create_time)
        VALUES (#{userId}, #{realName}, #{phonenum}, #{province}, #{city}, #{area}, #{street}, #{zip}, #{isDefaultAddress}, #{createTime})
    </insert>

    <delete id="del" parameterType="Address">
        delete from jd_address where address_id=#{addressId}
    </delete>

    <update id="modify" parameterType="Address">
        update jd_address set user_id=#{userId}, realname=#{realName}, phonenum=#{phonenum}, province=#{province}, city=#{city},
        area=#{area}, street=#{street}, zip=#{zip}, is_default_address=#{isDefaultAddress}
        where address_id=#{addressId}
    </update>

    <select id="select_one" parameterType="Address" resultMap="AddressResult">
        select *
        from jd_address
        WHERE address_id = #{addressId}
    </select>
    
    <select id="select_all" parameterType="Address" resultMap="AddressResult">
        select * from jd_address WHERE user_id = #{userId}
    </select>
</mapper>