<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">


<mapper namespace="cn.doublefloat.jdmall.project.food_product.mapper.foodProductMapper">
    <resultMap id="foodProductResult" type="foodProduct">
        <id column="product_id" property="productId"/>
        <result column="product_name" property="productName"/>
        <result column="product_summary" property="productSummary"/>
        <result column="product_cate" property="cateId"/>
        <result column="product_price" property="price"/>
        <result column="product_sales_price" property="salesPrice"/>
        <result column="product_remain" property="remain"/>
        <result column="product_image" property="image"/>
        <result column="create_time" property="createTime"/>
    </resultMap>

    <sql id="queryFoodProduct">
        SELECT product_id, product_name, product_summary, product_cate, product_price, product_sales_price, product_remain, product_image, create_time
        FROM jd_food_product WHERE product_status = 0
    </sql>

    <select id="queryProductListBycateId" resultMap="foodProductResult">
        <include refid="queryFoodProduct"/>
        AND  product_cate= #{cateId}
    </select>

</mapper>