<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
 
<mapper namespace="cn.doublefloat.jdmall.project.order.mapper.OrderMapper">
    <insert id="addOrder" parameterType="Order" keyProperty="order_id">
        INSERT INTO jd_order (order_no, user_id, product_count, product_amount, order_amount_total, address_id, create_time)
        VALUES (#{orderNo}, #{userId}, #{productCount}, #{productAmount}, #{orderAmountTotal}, #{addressId}, #{createTime})
    </insert>

    <insert id="addOrderDetail" parameterType="OrderPO">
        INSERT INTO jd_order_detail (order_id, product_id, product_name, product_price, number, sub_total)
        VALUES (#{orderId}, #{productId}, #{productName}, #{productPrice}, #{number}, #{subTotal})
    </insert>
</mapper>