<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="cn.doublefloat.jdmall.project.shopcar.mapper.ShopCarMapper">

    <resultMap id="ShopCarPoResult" type="ShopCarPO">
        <id column="id" property="id"/>
        <result column="user_id" property="userId"/>
        <result column="product_id" property="productId"/>
        <result column="product_name" property="productName"/>
        <result column="product_price" property="productPrice"/>
        <result column="product_image" property="productImage"/>
        <result column="quantity" property="quantity"/>
    </resultMap>

    <insert id="addShopCarItem" parameterType="ShopCarPO">
        INSERT INTO jd_shopcar (user_id, product_id, quantity)
        VALUES (#{userId}, #{productId}, #{quantity});
    </insert>

    <delete id="deleteShopCarItem">
        DELETE FROM jd_shopcar WHERE user_id = #{userId} AND product_id = #{productId}
    </delete>

    <delete id="deleteShopCarItems">
        DELETE FROM jd_shopcar WHERE user_id = #{userId} AND product_id in
        <foreach collection="productIds" open="(" close=")" separator="," item="product_id">
            #{product_id}
        </foreach>
    </delete>

    <delete id="deleteAll">
        DELETE FROM jd_shopcar WHERE user_id = #{userId}
    </delete>

    <update id="updateShopCarItem" parameterType="ShopCarPO">
        UPDATE jd_shopcar SET quantity = #{quantity} WHERE user_id = #{userId} AND product_id = #{productId}
    </update>

    <select id="queryShopCarByUserId" resultMap="ShopCarPoResult">
        SELECT s.id, s.user_id, s.product_id, p.product_name, p.product_price, p.product_image, s.quantity
        FROM jd_shopcar s
        LEFT JOIN jd_product p ON s.product_id = p.product_id
        WHERE s.user_id = #{userId}
    </select>

    <select id="queryShopCarByUserIdAndProductIds" resultMap="ShopCarPoResult">
        SELECT s.id, s.user_id, s.product_id, p.product_name, p.product_price, p.product_image, s.quantity
        FROM jd_shopcar s
        LEFT JOIN jd_product p ON s.product_id = p.product_id
        WHERE
        s.user_id = #{userId}
        AND s.product_id IN
        <foreach collection="productIds" item="id" separator="," open="(" close=")">
            #{id}
        </foreach>
    </select>

    <select id="checkShopCarItemUnique" resultMap="ShopCarPoResult">
        SELECT * FROM jd_shopcar WHERE user_id = #{userId} AND product_id = #{productId};
    </select>
</mapper>